*{
  margin: 0;
  padding: 0;
}
.grid{
  display: grid;
  height:100%;
  grid-template-columns: 2.25% 50% 35% 10% 2.25%;
  grid-template-rows: .5% 5% 47.5% 5% 30% 5% 3% .5%;
  grid-column-gap: .5%;
  grid-row-gap: .5%;
  grid-template-areas:
  ". . . . ."
  ". title title title ."
  ". choroplethmap treemap treemap ."
  ". slider treemap treemap . "
  ". parallelcoordinateplot parallelcoordinateplot parallelcoordinateplot ." 
  ". infosection infosection infosection ."
  ". credits credits credits ."
  ". . . . ."
}
.title{
 grid-area:title;
 text-align: center;
}
.choroplethmap{
  grid-area:choroplethmap;
  background-color: rgba(143, 188, 219, .8);
  border-style: solid;
  border-color: rgba(68, 114, 148, 1);
  border-width: thin;
}

.info-container{
  flex: 3;
}
.title{
 text-align: center;
}
.choroplethmap{
  flex: 1;
  background-color: rgba(143, 188, 219, .8);
  border-style: solid;
  border-color: rgba(68, 114, 148, 1);
  border-width: thin;
}
.treemap{
  grid-area:treemap;
  background-color: rgba(143, 188, 219, .8);
  border-style: solid;
  border-color: rgba(68, 114, 148, 1);
  border-width: thin;

  
}
/*.buttons{
  grid-area:buttons;
  background-color: rgba(143, 188, 219, .8);
  border-style: solid;
  border-color: rgba(68, 114, 148, 1);
  border-width: thin;
  

}*/
.parallelcoordinateplot{
  grid-area:parallelcoordinateplot;
  background-color: rgba(68, 114, 148, .8);
  border-style: solid;
  border-color: rgba(68, 114, 148, 1);
  border-width: thin;

 
}
.infosection{
  grid-area:infosection;
  background-color: rgba(143, 188, 219, .8);
  border-style: solid;
  border-color: rgba(68, 114, 148, 1);
  border-width: thin;
  border-style: solid;
  border-color: rgba(68, 114, 148, 1);
  border-width: thin;
  
}
.slider{
  grid-area:slider;
  background-color: rgba(143, 188, 219, .8);
  border-style: solid;
  border-color: rgba(68, 114, 148, 1);
  border-width: thin;
  border-style: solid;
  border-color: rgba(68, 114, 148, 1);
  border-width: thin;
}
.credits{
  grid-area:credits;
  text-align: center;
 

}

body {
  font-size: 14px;
  font-family: Georgia, Times, Times New Roman, serif;
  color: rgba(68, 114, 148, 1);
  margin: 24px;
  background: 	#F8E4CC;
  line-height: 1.45em;
  height:100%
}
a {
  color: #555;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
p {
  width: 1000px;
}
pre {
  color: #444;
  font-family: Ubuntu Mono, Monaco, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1{
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 2rem;
  color: rgba(68, 114, 148, 1);
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 40px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 16px;
}
html {
  height:95%
}
